<div class="add-recipe">
<form class="example-form" [formGroup]="form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Название рецепта</mat-label>
    <textarea matInput formControlName="name"></textarea>
  </mat-form-field>
  <div [ngStyle]="{'margin-bottom': '15px'}"
    *ngIf="(
              form.get('name').dirty ||
              form.get('name').touched
             ) &&
             form.get('name').invalid"
  >
    Введите название рецепта
  </div>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Выбрать категорию</mat-label>
    <mat-select formControlName="category">
      <mat-option value="Завтрак">Завтрак</mat-option>
      <mat-option value="Основное блюдо">Основное блюдо</mat-option>
      <mat-option value="Суп">Суп</mat-option>
      <mat-option value="Салат">Салат</mat-option>
      <mat-option value="Выпечка">Выпечка</mat-option>
    </mat-select>
  </mat-form-field>
  <table class="example-full-width" cellspacing="0"
         formArrayName="ingredients"
         *ngFor="let ingredient of form.get('ingredients')['controls']; let i = index;">
    <tr [formGroupName]="i">
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Ингредиент</mat-label>
        <input matInput formControlName="ingredient">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Количество</mat-label>
        <input matInput formControlName="measure">
      </mat-form-field></td>
    </tr>
  </table>
  <button (click)="addIngredient()" mat-raised-button>Добавить ингредиент</button>
  <button (click)="deleteIngredient()" mat-raised-button [ngStyle]="{'margin-left': '10px'}">Удалить ингредиент</button>
  <h4>Инструкция приготовления</h4>
  <mat-form-field class="example-full-width" appearance="fill"
                  formArrayName="description"
                  *ngFor="let step of form.get('description')['controls']; let i = index;">
    <ng-container [formGroupName]="i">
      <mat-label>Шаг {{i+1}}</mat-label>
      <textarea matInput formControlName="step"></textarea>
    </ng-container>
  </mat-form-field>
  <button (click)="addDescription()" mat-raised-button [ngStyle]="{'margin-bottom': '20px'}">Добавить шаг</button>
  <button (click)="deleteDescription()" mat-raised-button [ngStyle]="{'margin-left': '10px'}">Удалить шаг</button>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Добавить ссылку на фото</mat-label>
    <textarea matInput formControlName="mealImg"></textarea>
  </mat-form-field>
  <div [ngStyle]="{'margin-bottom': '15px'}"
    *ngIf="(
              form.get('mealImg').dirty ||
              form.get('mealImg').touched
             ) &&
             form.get('mealImg').invalid"
  >
    Только URL-адреса, обслуживаемые по HTTPS.
  </div>
  <button (click)="addRecipe()" [disabled]="form.invalid" mat-raised-button color="accent" [ngStyle]="{'margin-bottom': '20px'}">Добавить рецепт</button>
</form>
</div>
