.navbar {
  display: flex;
  justify-content: space-between;
}
.logo {
  font-family: 'Lobster', cursive;
  font-size: 1.5em;
}

.nav-block {
  display: inline-flex;
}

.nav-list {
  padding-right: 1rem;
}
