<div>
<!--  <app-recipe-item></app-recipe-item>-->
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success">Добавить рецепт</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">
        <div class="pull-left">
          <h4 class="list-group-item-heading">{{recipe.name}}</h4>
          <p class="list-group-item-text">{{recipe.description}}</p>
        </div>
        <span class="pull-right">
          <img [src]="recipe.imageUrl" [alt]="recipe.name" class="img-responsive" style="max-height: 100px">
        </span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table" *ngFor="let ingredient of recipes">
        <tr class="list-group-item" *ngFor="let el of ingredient.ingredients">
          <td class="table">{{el.name}}</td>
          <td class="table">{{el.amount}}</td>
          <td class="table">{{el.unit}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <form>
        <input type="text" class="form-control" placeholder="Название ингредиента">
        <input type="number" class="form-control" placeholder="Количество">
        <input type="text" class="form-control" placeholder="Единица измерения">
        <button class="btn btn-success">Добавить</button>
        <button class="btn btn-success">Удалить</button>
        <button class="btn btn-success">Очистить</button>
      </form>
    </div>
  </div>
</div>
