
<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-description>
      Поиск рецептов
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-action-row>
    <div class="nav-search">
      <mat-form-field appearance="outline">
        <mat-label>Введите название блюда</mat-label>
        <input matInput>
      </mat-form-field>
      <button mat-stroked-button color="accent">Найти рецепт</button>
    </div>
   <div>
     <mat-form-field appearance="outline">
       <mat-label>Любая категория</mat-label>
       <mat-select>
         <mat-option value="breakfast">Завтраки</mat-option>
         <mat-option value="food">Основные блюда</mat-option>
         <mat-option value="soup">Супы</mat-option>
         <mat-option value="salad">Салаты</mat-option>
         <mat-option value="bakery">Выпечка</mat-option>
         <mat-option value="sauce">Соусы</mat-option>
         <mat-option value="drinks">Напитки</mat-option>
       </mat-select>
     </mat-form-field>
     <button mat-stroked-button color="accent">Подобрать рецепты</button>
   </div>
  </mat-action-row>
</mat-expansion-panel>
