.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
  text-align: center;
}

.recipe-search {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.mat-form-field {
  width: 50%;
  margin-right: 1em;
}

.loader-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.loader-container mat-spinner {
  margin: auto;
  top: 40%;
}
