<div class="add-recipe">
<form class="example-form" [formGroup]="form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Название рецепта</mat-label>
    <textarea matInput formControlName="name"></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Выбрать категорию</mat-label>
    <mat-select>
      <mat-option value="one">Завтрак</mat-option>
      <mat-option value="two">Основное блюдо</mat-option>
      <mat-option value="three">Суп</mat-option>
      <mat-option value="four">Салат</mat-option>
      <mat-option value="five">Выпечка</mat-option>
    </mat-select>
  </mat-form-field>
  <table class="example-full-width" cellspacing="0"
         formArrayName="ingredients"
         *ngFor="let ingredient of form.get('ingredients')['controls']; let i = index;">
    <tr [formGroupName]="i">
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Ингредиент</mat-label>
        <input matInput formControlName="ingredient">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Количество</mat-label>
        <input matInput formControlName="measure">
      </mat-form-field></td>
    </tr>
  </table>
  <button (click)="addIngredient()" mat-raised-button>Добавить ингредиент</button>
  <button (click)="deleteIngredient()" mat-raised-button [ngStyle]="{'margin-left': '10px'}">Удалить ингредиент</button>
  <h4>Инструкция приготовления</h4>
  <mat-form-field class="example-full-width" appearance="fill"
                  formArrayName="steps"
                  *ngFor="let step of form.get('steps')['controls']; let i = index;">
    <div [formGroupName]="i">
      <mat-label>Шаг {{i+1}}</mat-label>
      <textarea matInput formControlName="step"></textarea>
    </div>
  </mat-form-field>
  <button (click)="addStep()" mat-raised-button [ngStyle]="{'margin-bottom': '20px'}">Добавить шаг</button>
  <button (click)="deleteStep()" mat-raised-button [ngStyle]="{'margin-left': '10px'}">Удалить шаг</button>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Добавить ссылку на фото</mat-label>
    <textarea matInput formControlName="image"></textarea>
  </mat-form-field>
  <button [disabled]="!form.valid" (click)="addRecipe()" mat-raised-button color="accent" [ngStyle]="{'margin-bottom': '20px'}">Добавить рецепт</button>
</form>
</div>
